{% extends 'base.html.twig' %}

{% block title %}{{title}} !{% endblock %}

{% block body %}
    <div>
        <h2>Bienvenue sur le site de TRT-Conseil !</h2>
        <h3>Le spécialiste du recrutement</h3>
        <p>Le contact le plus rapide entre le candidat et le recruteur dans les metiers de l'hotellerie et de la restauration</p>
        <p><a class="welcome-link" href="{{ path('app_register') }}">Inscrivez-vous vite !</a></p>

    </div>
{% endblock %}
