<form method="post" action="{{ path('consultant_delete', {'id': consultant.id}) }}" onsubmit="return confirm('confirmer vous la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ consultant.id) }}">
    <button class="btn btn-danger mt-4 mb-4">Supprimer</button>
</form>
