{% extends 'base.html.twig' %}

{% block title %}Edit Consultant{% endblock %}

{% block body %}
    <div class="container w-75">
        <h1>mise à jour Consultant</h1>

        {{ include('consultant/_form-edit.html.twig', {'button_label': 'Enregistrer'}) }}
        {{ include('consultant/_delete_form.html.twig') }}
        <a href="{{ path('consultant_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
