{% extends 'base.html.twig' %}

{% block title %}New Consultant{% endblock %}

{% block body %}
    <div class= 'container w-75'>
        <h1>Creation d'un nouveau consultant</h1>

        {{ include('consultant/_form.html.twig') }}

        <a href="{{ path('consultant_index') }}">back to list</a>
    </div>
{% endblock %}
