{% extends 'base.html.twig' %}

{% block title %}Profil recruteur{% endblock %}

{% block body %}
    <h1>Creation de votre profil</h1>

    {{ include('recruiter/_form.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('recruiter_index') }}">back to list</a>
    {% endif %}
{% endblock %}
