{% extends 'base.html.twig' %}

{% block title %}Nouvel Admin{% endblock %}

{% block body %}
    <div class="container ms-5 w-50 "> 
        <h1>Creation Nouvel Admin</h1>

        {{ include('user/_form.html.twig') }}

        <a href="{{ path('user_index') }}">retour à la liste</a>
    </div>
{% endblock %}
